body {
  background-color: lightgray;
}

h1 {
  text-align: center;
}

#images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

#images > * {
  height: auto;
  max-width: 100%;
  padding: 10px;
}
